#osx noise:
.DS_Store

#xcode noise:
*.pbxuser
*.perspective
*.perspectivev3
 
*.mode1v3
*.mode2v3

**/*.xcodeproj/xcuserdata/**
**/*.xcodeproj/project.xcworkspace/xcuserdata/**

#java noise
*.class

# emacs noise
*~
examples/ios/OGLESGPGPUStillImage/OGLESGPGPUStillImage.xcodeproj/project.xcworkspace/xcshareddata/OGLESGPGPUStillImage.xcscmblueprint
/xcode/ogles_gpgpu.xcodeproj/xcshareddata/xcschemes/ogles_gpgpu.xcscheme
